version: "3.8"
services:
  nifi-dev:
    image: apache/nifi:1.25.0
    ports:
      - "8081:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=ctsBtRBKHRAx69EqUghvvgEvjnaLjFEB
    networks:
      - nifi-network

  nifi-stg:
    image: apache/nifi:1.25.0
    ports:
      - "8082:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=ctsBtRBKHRAx69EqUghvvgEvjnaLjFEB
    networks:
      - nifi-network

  nifi-prod:
    image: apache/nifi:1.25.0
    ports:
      - "8083:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=ctsBtRBKHRAx69EqUghvvgEvjnaLjFEB
    networks:
      - nifi-network

  registry:
    image: apache/nifi-registry:1.25.0
    ports:
      - "18080:18080"
    volumes:
      - ./registry/providers.xml:/opt/nifi-registry/nifi-registry-current/conf/providers.xml:ro
      - ./registry/flow_storage:/opt/nifi-registry/nifi-registry-current/flow_storage
      - ./registry/extension_bundles:/opt/nifi-registry/nifi-registry-current/extension_bundles
      - ./registry/database:/opt/nifi-registry/nifi-registry-current/database
    networks:
      - nifi-network

networks:
  nifi-network:
    driver: bridge
