version: "3.8"

services:
  nifi-dev:
    image: apache/nifi:1.25.0
    ports:
      - "8081:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080

  nifi-stg:
    image: apache/nifi:1.25.0
    ports:
      - "8082:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080

  nifi-prod:
    image: apache/nifi:1.25.0
    ports:
      - "8083:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080

  registry:
    image: apache/nifi-registry:1.25.0
    ports:
      - "18080:18080"
