version: 2.1
jobs:
  deploy_nifi:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install nipyapi
      - run:
          name: Deploy to Staging
          command: python deploy_flow.py staging
      - run:
          name: Smoke test Staging
          command: curl http://nifi-stg:8080/nifi-api/controller/status
      - run:
          name: Deploy to Production
          command: python deploy_flow.py prod

workflows:
  version: 2
  deploy:
    jobs:
      - deploy_nifi
