name: NiFi CI/CD Pipeline

on:
  push:
    branches:
      - main


jobs:
  deploy-staging:
    name: Deploy to NiFi Staging
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted

    steps:
      - name: Checkout flows
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install nipyapi requests urllib3

      - name: Deploy flow to Staging
        env:
          NIFI_API: ${{ secrets.NIFI_STG_URL }}
          REGISTRY_API: ${{ secrets.NIFI_REGISTRY_URL }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
          FLOW_NAME: ${{ secrets.FLOW_NAME }}
          
        run: |
          python deploy_flow.py staging

  deploy-production:
    name: Deploy to NiFi Production
    runs-on: self-hosted
    needs: deploy-staging
    environment:
      name: production
      url: http://localhost:8083/nifi

    steps:
      - name: Checkout flows
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install nipyapi requests urllib3

      - name: Deploy flow to Production
        env:
          NIFI_API: ${{ secrets.NIFI_PROD_URL }}
          REGISTRY_API: ${{ secrets.NIFI_REGISTRY_URL }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
          FLOW_NAME: ${{ secrets.FLOW_NAME }}
        run: |
          python deploy_flow.py prod
